{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Shipping List{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'shiplist/style.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap"
        rel="stylesheet" />
</head>

<body>
    <div class="page-wrapper">
        <nav class="sidebar">
            <div class="site-title">Shipping List</div>
            <a href="{% url 'home' %}"
                class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a>
            <a href="{% url 'ship_logs' %}"
                class="{% if request.resolver_match.url_name == 'ship_logs' %}active{% endif %}">Ship Logs</a>
            <a href="{% url 'about' %}"
                class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">About Us</a>
        </nav>

        <main class="content">
            {% block content %}{% endblock %}
        </main>
    </div>
</body>


</html>