{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Shipping List{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'shiplist/style.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet" />
</head>

<body>
    <nav>
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'ship_logs' %}">Ship Logs</a>
    </nav>

    {% block content %}
    <!-- Child templates handle structure like .container -->
    {% endblock %}
</body>


</html>