{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Shipping List{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'shiplist/style.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap"
        rel="stylesheet" />

    <link rel="icon" type="image/png" href="{% static 'shiplist/images/ship_favicon.png' %}">

    <!-- Open Graph (for Discord, Facebook, etc.) -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://shiplistenglishserver.pythonanywhere.com">
    <meta property="og:title" content="Ship List - English Server">
    <meta property="og:description"
        content="The English server’s official ship list — where conductive members who emit sparks get shipped. Welcome aboard!">
    <meta property="og:image"
        content="https://shiplistenglishserver.pythonanywhere.com/static/shiplist/images/meta_ship.png">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Ship List - English Server">
    <meta name="twitter:description"
        content="The English server’s official ship list — where conductive members who emit sparks get shipped. Welcome aboard!">
    <meta property="og:image"
        content="https://shiplistenglishserver.pythonanywhere.com/static/shiplist/images/meta_ship.png">

</head>

<body>
    <div class="page-wrapper">
        <nav class="sidebar">
            <div class="site-title">Shipping List</div>
            <a href="{% url 'home' %}"
                class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">👩🏻‍❤️‍👨🏻
                Home</a>
            <a href="{% url 'ship_logs' %}"
                class="{% if request.resolver_match.url_name == 'ship_logs' %}active{% endif %}">🗒️ Ship Logs</a>
            <a href="{% url 'rules' %}" class="{% if request.resolver_match.url_name == 'rules' %}active{% endif %}">📜
                Rules</a>
            <a href="{% url 'about' %}" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">👤
                About Us</a>
        </nav>

        <main class="content">
            {% block content %}{% endblock %}
        </main>
    </div>
</body>


</html>