{% extends "shiplist/base.html" %}

{% block title %}Rules{% endblock %}

{% block content %}
<div class="rules-container">
    <h1>📜 Rules</h1>

    <div class="rule">
        <h2>Article 1.1</h2>
        <p>The current running CEO of the shipment company cannot be shipped, as this disallows for full unbias in the
            ships, violation to this rule is considered a false use of power and corruption which will result in the
            disqualification of the CEO.</p>
    </div>
    <div class="rule">
        <h2>Article 1.2</h2>
        <p>The articles of shipment cannot be fully exposed to the public of the English server, one can request for a
            specific ruling on the condition that the context apply for the rule exposure, failure to do so or exposure
            of the full list of article will result in the writing of a new set of laws. (oops I exposed it...)</p>
    </div>
    <div class="rule">
        <h2>Article 1.3</h2>
        <p>The shipment company and it's assets does not recognize a 'joke', all material which can be used for a
            plausible ship can and will be used unless appropriate conditions are met that would lead the ship to be
            falsified by our attentive staff.</p>
    </div>
    <div class="rule">
        <h2>Article 3.4</h2>
        <p>One cannot be shipped with inanimate objects or non-human creatures, violation to this rule will result in a
            falsified ship, instantaneously cancelling it.</p>
    </div>
</div>
{% endblock %}